import Part1
import Part2
import sys

def main():
    part = int(sys.argv[1])
    inFile = sys.argv[2]

    if part == 1:
        part1(inFile)
    elif part == 2:
        part2(inFile)
    else:
        part1(inFile)
        part2(inFile)

def part1(path):
    print("--== Part 1 ==--")

def part2(path):
    print("--== Part 2 ==--")

main()